.p {
  padding: 50px 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.p-title {
  font-size: 35px;
  font-weight: 300;
  margin: 30px 0;
}

.p-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.p-card {
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.p-browser {
  height: 20px;
  background-color: rgb(243, 242, 242);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.p-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color: #fff;
}

.p-img {
  width: 100%;
  transition: all 10s ease;
}

.p-card:hover .p-img {
  transform: translateY(-100%);
}

@media screen and (max-width: 1050px) {
  .p {
    padding: 0;
  }

  .p-card {
    height: 25vh;
  }
}

@media screen and (max-width: 800px) {
  .p {
    padding: 0;
  }

  .p-card {
    height: 20vh;
  }
}
